@page "/Chat"
@using global::Chat.Data.Entities
@using Chat.Web.Client.Components
@using Chat.Data.Features.Chat
@inject HttpClient HttpClient

<div class="container">
    <div style="display: flex; flex-direction: column-reverse; max-height: 500px; overflow: auto">
        @if (Messages == null)
        {
            <em>Loading...</em>
        }
        else
        {
            @foreach (var m in Messages)
            {
                <div class="card mb-3">
                    <div class="card-header">
                        @m.UserName
                        <small class="text-muted ml-2">@m.CreatedAt.ToString("g")</small>
                    </div>
                    <div class="card-body">
                        @foreach (var img in m.Images)
                        {
                            <img src="@($"data:image/png;base64,{img}")" style="max-width: 30%; height: auto;"/>
                        }
                        <p class="card-text">@m.MessageText</p>
                    </div>
                </div>
            }
        }
    </div>

    <div class="form-group mb-2">
        <label>Message</label>
        <InputTextArea @bind-Value="message" class="form-control"/>
    </div>
    <div class="row mb-2">
        <div class="col-md-9">
            <div class="form-group">
                <label>Username</label>
                <InputText @bind-Value="username" class="form-control"/>
            </div>
        </div>
        <div class="col-md-3 d-flex align-items-end">
            <button @onclick="SendMessage" class="btn btn-primary w-100">Send</button>
        </div>
    </div>
    <div class="form-group mb-2">
        <label>Upload Images</label>
        <InputFile multiple OnChange="HandleSelectedFiles" @key="inputFileId"/>
        <div class="flex-row">
            @foreach (var img in uploadedImages)
            {
                <img src="@($"data:image/png;base64,{img}")" style="max-width: 30%; height: auto;"/>
            }
        </div>
    </div>
    <button @onclick="SendMessage" class="btn btn-primary mt-3">Send</button>
    @if (isBusy)
    {
        <div class="spinner-border text-primary" role="status">
            <span class="sr-only">Sending...</span>
        </div>
    }
</div>


@code {
    private string message = "";
    private string username = "";
    private List<ChatMessageResponse>? Messages { get; set; } = new();
    private List<string> uploadedImages = [];
    private bool isBusy = false;
    private Guid? inputFileId = Guid.NewGuid();

    protected override async Task OnInitializedAsync()
    {
        await LoadMessages();
    }

    private async Task LoadMessages()
    {
        var messages = await HttpClient.GetFromJsonAsync<List<ChatMessageResponse>>("api/chat");
        messages?.Reverse();
        Messages = messages;
    }

    private async Task HandleSelectedFiles(InputFileChangeEventArgs e)
    {
        foreach (var file in e.GetMultipleFiles())
        {
            var base64String = await ConvertFileToBase64(file);
            uploadedImages.Add(base64String);
        }
    }

    private async Task<string> ConvertFileToBase64(IBrowserFile file)
    {
        const long MAXALLOWEDSIZE = 100000000; // Max size per file 100 mb
        var arrayBuffer = new byte[file.Size];
        await file.OpenReadStream(maxAllowedSize: MAXALLOWEDSIZE).ReadAsync(arrayBuffer);
        var base64String = Convert.ToBase64String(arrayBuffer);
        return base64String;
    }

    private async Task SendMessage()
    {
        isBusy = true;
        var chatMessage = new NewChatMessageRequest()
        {
            MessageText = message,
            UserName = username,
            Images = uploadedImages
        };


        await HttpClient.PostAsJsonAsync("api/chat", chatMessage);

        isBusy = false;

        await LoadMessages();

        message = "";
        uploadedImages.Clear();
        inputFileId = Guid.NewGuid();
    }
}